/EJBRemoteClient/target/
/EJBRemote/target/
/EJBRemote/nbproject/
/ResourceLocalTest/target/
/JBatchTest/target/
/JakartaEETest-lib/target/
/JakartaEETest/target/
/*/target/
*.class
*.war
/jeus-common-lib/nbproject/
